@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  overflow-x: hidden;
}

.banner_color {
  background-color: #d1d5db;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.custom-bullet {
  width: 16px;
  height: 16px;
  background-color: #d1d5db;
  border-radius: 50%;
  margin: 0 4px;

  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-bullet:hover,
.custom-bullet-active {
  background-color: #3b82f6;
  border-radius: 50%;
  border: black;
}